################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/8. OOP Inheritance/Simple_Inheritance/.vs/Simple_Inheritance/FileContentIndex/ef8d753c-c66a-44e4-b0ed-c47eb3c362aa.vsidx
/8. OOP Inheritance/Simple_Inheritance/.vs/Simple_Inheritance/FileContentIndex/6e6993f8-9633-4dba-a4a2-b90550bbf5eb.vsidx
/8. OOP Inheritance/note.text
/8. OOP Inheritance/Virtual_Override/.vs/Virtual_Override/FileContentIndex/1efdd0cd-9409-4cd6-b799-9b520a833f93.vsidx
